@import './base.css';
@import './sta.css';
@import './story.css';

p {
  margin-bottom: 0.5rem;
}

custom-tag {
  color: var(--st-c-link);
  white-space: nowrap;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: color 0.3s;
  font-variation-settings: 'wdth' 75;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab !important;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.grabbable:active {
  cursor: grabbing !important;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
