@import './base.css';
@import './sta.css';
@import './story.css';

a {
  color: var(--st-c-link);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-variation-settings: 'wdth' 75;
}

p {
  margin-bottom: 0.5rem;
}
